#title {
  font: 500 2.95em 'FFFTusjBold', Arial, sans-serif;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}
#title a {
  color: black;
  text-decoration: none;
  transition: color 2s ease 0s;
}
#title a:hover {
  color: #bdbbbb;
}

