@media screen and (max-width: 1023px) {
  footer {
    p {
      color: white;
    }
    svg.fa-copyright, span.copyright {
      display: none;
    }
  }
  footer.footer a {
    display: block;
    margin-top: 10px;
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
  img {
    max-width: 85%;
  }

  h1.lead {
    font-size: 2.5rem;
  }

  .content {
    h2 {
      font-size: 1.9rem;
      border-left: none;
    }
    h3 {
      font-size: 1.4rem
    }
  }
}

@media screen and (max-width: 730px) {
  span.written,
  span.reading-time {
    display: none;
  }
  #title {
    font: 500 2.0em 'FFFTusjBold', Arial, sans-serif;
  }

  .share h4 {
    padding-left: 33px;
    margin: 0 0 0 -3rem;
  }

  h2 {
    font-size: 1.9rem;
    border-left: none;
  }
  h3 {
    font-size: 1.4rem
  }

  .related {
    margin-top: 0;
  }
  .related ul {
    padding: 0;
  }
  .related li {
    border-bottom: none;
    color: #777;
    list-style: outside none none;
    margin: 0;
    padding: 5px 0;
  }

  #hashover form div.cmtbox, #hashover .cmtdiv .cmtbubble {
      margin-left: 1.7rem;
  }

  .share a {
    display: block;
    font-size: 2.2rem;
    margin: 1rem -1.7rem 1.6rem 2.9rem;
  }
  .share h4 {
    font-size: 1.9rem;
  }

  footer p {
    color: white;
  }
  #contact-form {
    margin-left: 15px;
    margin-right: 15px;
  }
}


@media screen and (max-width: 550px) {
  img {
    max-width: 90%;
  }

  #title {
    display: none;
  }
  html {
    font-size: 99% !important;
  }

  h1.lead {
    font-size: 2.0rem;
  }

  .content h2 {
    font-size: 1.8rem;
    border-left: none;
  }

  .content h3 {
    font-size: 1.5rem
  }

  .share a {
    display: block;
    font-size: 2.2rem;
    margin: 1rem -1.7rem 1.6rem 3.9rem;
  }
  .share h4 {
    font-size: 1.9rem;
  }

  img.center {
    margin: 0;
  }

  #contact-form {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-device-width: 480px) {
  #title {
    display: none;
  }
  html {
    font-size: 105% !important;
  }

  .center {
    margin: 0;
  }

  span.written,
  span.reading-time {
    display: none;
  }

  footer.footer a {
    display: block;
    margin-top: 5px;
    font-size: 25px;
  }
  footer p {
    color: white;
  }
  footer i.author {
    color: black;
  }

  .share {
    left: 25%;
  }

  .share h4 {
    margin: 0 0 -5.5rem;
  }

  .share a {
    margin: 1rem -3.7rem 1.6rem 5.3rem;
  }

  #contact-form {
    margin-left: 15px;
    margin-right: 15px;
  }
}
