@import "bulma";
@import "fonts";
@import "logo";
@import "headlines";
@import "blockquote";
@import "share";
@import "pygments";
@import "hashover";

html {
  font-size: 110%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.padrinobook-newsletter {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

// general font-size of body
.content {
  font-size: 1.20em;
}

// footer
footer {
  background-color: white;
}

.menu > li {
  display: table-cell;
  vertical-align: middle;
}


.menu > li > a {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}

ul.menu {
  display:table;
  margin:0 auto;
  li {
    font-size: 1.1rem;
  }
}

// general

p {
  font-size: inherit;
  line-height: 1.6;
  margin-bottom: 1rem;
  margin-left: 1.7rem;
  text-rendering: optimizelegibility;
}

.center {
  display: block;
  margin: 2.5rem auto;
  text-align: center;
}

ul {
  margin-left: 3rem !important;
  margin-bottom: 1.5rem;
}

footer p > span.copyright, .fa-copyright {
  color: black;
}

label {
  border-radius: 0.25em;
  display: inline;
  font-weight: bold;
  line-height: 1;
  font-size: 1.0rem;
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    border-radius: 3px;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

// navbar
.navbar-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: .5rem 0;
}

.navbar-end > a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: -1px;
    padding: .5em 2em;
}

.navbar-end > a.is-active {
  color: white;
  background-color: black !important;
}

// images
img {
  box-shadow: 4px 4px 36px #282b1f;
}

.caption {
  color: #aaa;
  margin-bottom: 10px;
  text-align: right;
}

.small {
  margin: 30px 0;
  width: 35%;
}

// link colors
a {
  line-height: inherit;
  color: #2ba6cb;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  color: #258faf;
}


// projects headlines
.lastupdate {
  color: #bdbbbb;
  margin: 0 0 0 2em;
}

// reading-header
.author {
  color: #bdbbbb;
  font-size: 90%;
  margin: 0 0 1rem 1.6rem;
}

// newsletter partial
.alert.default {
  border: 0.5px dotted grey;
  padding: 0px 35px 8px 14px;
}

.alert.default h4 {
  color: black;
  padding: 0;
  margin-bottom: -2rem;
}

// article overview
.related {
  margin-top: 10px;
}
.related ul {
  padding: 25px 0;
}
.related li {
  border-bottom: 1px solid #eee;
  color: #777;
  list-style: outside none none;
  margin: 0;
  padding: 5px 0;
}
.related li span {
  float: right;
}
.related li:last-child {
  border-bottom: medium none;
}
.related a {
  text-decoration: none;
}

// contact
#contact-form {
  margin-left: 30px;
  margin-right: 10px;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@import "mobile";

