    <footer data-hide-for="small">
      <div class="row">
        <div class="large-12 columns">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <ul class="menu">
            <li>
              <i class="fa fa-copyright"> <%= author %></i>
            </li>
            <li>
              <a href="http://www.feedio.co/@wikimatze" title="Follow my RSS feed" target="_blank"><i class="fa fa-rss"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/wikimatze" title="Follow @wikimatze on twitter" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://github.com/wikimatze" title="Follow wikimatze on GitHub" target="_blank"><i class="fa fa-github"></i></a>
            </li>
            <li>
              <a href="https://bitbucket.org/wikimatze" title="Follow wikimatze on bitbucket" target="_blank"><i class="fa fa-bitbucket"></i></a>
            </li>
            <!--
            <li>
              <a rel="nofollow" data-open="modal"><i class="fa fa-share"></i></a>
            </li>
            -->
            <li>
              <a href="/reading" title="What I'm reading so far">reading</a>
            </li>
            <li>
              <a href="/projects" title="Projects I'm working on">projects</a>
            </li>
            <li>
              <a rel="nofollow" title="Information who is behind this page" href="/legal_disclosure">legal disclosure</a>
            </li>
            <li>
              <a rel="nofollow" title="Contact wikimatze" href="/mail.php">contact</a>
            </li>
            <li>
              <a rel="nofollow" title="The colophon" href="/colophon">colophon</a>
            </li>
            <!--
            <li>
              <span class="lastupdate">last build:<%= config[:build] %></span>
            </li>
            -->
          </ul>
        </div>
      </div>
    </footer>
