<footer class="footer">
  <div class="container">
    <hr>
    <div class="content has-text-centered">
      <i class="far fa-copyright"></i> <span class="copyright"><%= config[:author] %></span>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a href="http://www.feedio.co/@wikimatze" title="Follow my RSS feed"><i class="fas fa-rss"></i></a>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a href="https://twitter.com/wikimatze" title="Follow wikimatze on twitter"><i class="fab fa-twitter"></i></a>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a href="https://github.com/wikimatze" title="Follow wikimatze on GitHub"><i class="fab fa-github"></i></a>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a class="fab fa-instagram" href="https://www.instagram.com/wikimatze/" title="Follow wikimatze on Instagram"></a>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a rel="nofollow" title="Contact wikimatze" href="/mail.php">contact</a>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a class="is-hidden-mobile" href="/projects" title="Projects I'm working on">projects</a>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a class="is-hidden-mobile" href="/reading" title="What I'm reading so far">reading</a>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a href="/newsletter" title="Newsletter sign up">newsletter</a>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a rel="nofollow" title="The colophon" href="/colophon">colophon</a>
      <span class="footer-separater">&nbsp;·&nbsp;</span>
      <a rel="nofollow" title="Information who is behind this page" href="/impressum">impressum</a>
    </div>
  </div>
</footer>

