<footer class="footer">
      <div class="container">
        <hr>
        <div class="content has-text-centered">
          <p>
          <i class="far fa-copyright"></i> <span class="copyright"><%= config[:author] %></span>&nbsp;·&nbsp;
          <a href="http://www.feedio.co/@wikimatze" title="Follow my RSS feed" target="_blank"><i class="fas fa-rss"></i></a>&nbsp;·&nbsp;
          <a href="https://twitter.com/wikimatze" title="Follow @wikimatze on twitter" target="_blank"><i class="fab fa-twitter"></i></a>&nbsp;·&nbsp;
          <a href="https://github.com/wikimatze" title="Follow wikimatze on GitHub" target="_blank"><i class="fab fa-github"></i></a>&nbsp;·&nbsp;
          <a href="https://bitbucket.org/wikimatze" title="Follow wikimatze on bitbucket" target="_blank"><i class="fab fa-bitbucket"></i></a>&nbsp;·&nbsp;
          <a href="/projects" title="Projects I'm working on">projects</a>&nbsp;·&nbsp;
          <a href="/reading" title="What I'm reading so far">reading</a>&nbsp;·&nbsp;
          <a href="http://eepurl.com/cFwsEP" title="Newsletter sign up link">newsletter</a>&nbsp;·&nbsp;
          <a rel="nofollow" title="Contact wikimatze" href="/mail.php">contact</a>&nbsp;·&nbsp;
          <a rel="nofollow" title="The colophon" href="/colophon">colophon</a>&nbsp;·&nbsp;
          <a rel="nofollow" title="Information who is behind this page" href="/legal_disclosure">legal disclosure</a>
          </p>
        </div>
      </div>
    </footer>

