<br>
<br>
<div class="default alert">
  <br>
  <h4>Want to read more articles like that?</h4>
  <br>
  <br>
  <form action="https://subscribe.minutemailer.com/1kdgXG5W" method="post">
      <div class="field">
        <div class="control has-icons-left">
          <input class="input" name="email" placeholder="Email" value="" type="email" required>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-large is-link" type="submit" value="Subscribe" name="subscribe">Send</button>
        </div>
      </div>
  </form>
</div>
<br>
