<div class="default alert padrinobook-newsletter">
  <br>
  <h4>Learn more about Padrino Book? Sign Up!</h4>
  <br>
  <br>
  <form action="https://subscribe.minutemailer.com/1kdgVZ5W" method="post">
      <div class="field">
        <div class="control has-icons-left">
          <input id="form-padrinobook-email" class="input" name="email" placeholder="Email" value="" type="email" required>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-large is-link" type="submit" value="Subscribe" name="subscribe">Send</button>
        </div>
      </div>
  </form>
</div>

<script>
document.querySelector("#form-padrinobook-email").addEventListener("invalid", function(){
  document.getElementById('form-padrinobook-email').setAttribute("class","input is-danger");
});

document.querySelector("#form-padrinobook-email").addEventListener('input', function () {
  if (document.querySelector("#form-padrinobook-email").validity.valid) {
    document.getElementById('form-padrinobook-email').setAttribute("class","input is-success");
  }
});
</script>

