<section class="about-author">
  <h2>Discussion and Tweets</h2>
  <span class="about-author-image">
    <a href="https://twitter.com/wikimatze">
      <img src="http://en.gravatar.com/userimage/10525092/791987da4ba0ca49f1b8cc42bc7d4efb.png">
    </a>
  </span>
  <p>
    <strong>About the author:</strong> My name is Matthias Günther.
    This blog collects my thoughts about different topics as are my interests. I'm currently writing
    <a href="http://www.padrinorb.com/">Padrino book</a>, running <a href="http://www.vimberlin.de">vimberlin</a>, and being
    a <a href="http://railsgirlsberlin.de/">railsgirls-berlin</a> coach.

    {% include clearer.html %}
    {% include sharing.html %}
    {% include clearer.html %}

    {% include clearer.html %}
  </p>
</section>
