<div class="pull_left">
  <a href="https://twitter.com/share" class="twitter-share-button"
    data-count="horizontal"
    data-via="wikimatze">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <br/>
  <script type="text/javascript">
    reddit_url = "{{ site.base_url }}{{ page.url | escape }}/";
    reddit_title = "{{ post.title | escape }}";
  </script>
  <script type="text/javascript"
          src="http://www.reddit.com/static/button/button1.js">
  </script>
  <br/>
  <div class="g-plusone" data-size="small" data-annotation="inline"
    data-width="200"
    href="{{ site.base_url }}{{ page.url | escape }}/">
  </div>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
  </script>
</div>

