---
layout: layout
---
<article>
  <header>
    <div class="author">
      Posted on <time datetime="{{page.date | date:"%Y-%m-%d"}}" pubdate><a href="{{ page.url }}" title="Permalink for this post">{{page.date | date:"%Y-%m-%d"}}</a></time>
      {% if page.update %}, updated <time>{{ page.update }}</time> {% endif %} by <a href="http://twitter.com/wikimatze">Matthias Günther</a>
    </div>
    {% include sharing.html %}
    <div class="clearfix"></div>
  </header>
  <div class="clearfix"></div>
  {{ content }}
  <br>
  <aside>
    {% include comments.html %}
  </aside>
</article>

