---
layout: layout
---
<article>
  <header>
    <div class="author pull_left">
      Posted on <time datetime="{{page.date | date:"%Y-%m-%d"}}" pubdate><a href="{{ page.url }}" title="Permalink for this post">{{page.date | date:"%Y-%m-%d"}}</a></time>
      {% if page.update %}, updated <time>{{ page.update }}</time> {% endif %} by <a href="http://twitter.com/wikimatze">Matthias Günther</a>
    </div>
    {% include sharing.html %}
    <div class="clearfix"></div>
  </header>
  <div class="clearfix"></div>
  {{ content }}

  <div class="hierarchy pull_left">Hierarchy:
    {% if page.previous %}
    <a class="default label" href="{{ page.previous.url }}" title="Previous post">previous post</a>
    {% endif %}

    {% if page.next %}
    {% if page.previous %}, {% endif %}<a class="default label" href="{{ page.next.url }}" title="Next post">next post</a>
    {% endif %}
  </div>

  <div class="tags pull_right">
    {% if page.categories == empty  %}
    No tags
    {% else %}
    Tags:
    {% for tag in page.categories %}
    <a class="default label" href="/tags.html#{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
    {% endfor %}
    {% endif %}
  </div>

  <aside>
    {% include comments.html %}
  </aside>
</article>

