---
title: Some detail about wikimatze
description: This website is written by various technologies - bulma CSS framework for the responsive layout, rsync for deploying, markdown the format in which I’m writing blog posts, sweetie gem for gathering stats about this website, middleman, and hashover for the comments.
---
<header>
  <h1 class="lead">Colophon</h1>
</header>

This website is written by various technologies: [bulma CSS framework](https://bulma.io/ "bulma CSS framework") for the responsive layout, [rsync](http://en.wikipedia.org/wiki/Rsync "rsync") for deploying, [markdown](http://daringfireball.net/projects/markdown/ "markdown") the format in which I'm writing blog posts, [sweetie gem](https://github.com/wikimatze/sweetie "sweetie gem") for gathering different information of the website like last build date, [middleman](https://middlemanapp.com/ "middleman") for creating the website, and [hashover](https://github.com/jacobwb/hashover "hashover") for the comments.

For fast hacking and creating new blog posts on the fly [Vim](http://www.vim.org "vim") is my advocate.


## Status of the page

- <span class="tag is-danger label">Last build:</span> <%= config[:build] %>
- <span class="tag is-warning label">Number of images:</span> <%= config[:images] %>
- <span class="tag is-success label">Number of links:</span> <%= config[:links] %>

