---
title: wikimatze - writing about Ruby, Vim, Padrino, and Linux
nav: home
---
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <figure class="image">
          <a href="https://padrinobook.com/">
            <img class="lazy" src="/images/padrinobook_medium.png" data-src="/images/padrinobook.png" data-srcset="/images/padrinobook.png 2000w, /images/padrinobook.png 1000w, /images/padrinobook_medium.png 700w" sizes="100%" alt="Currently working on Padrinobook">
          </a>
        </figure>
      </div>
      <div class="column is-6">
        <h1 class="title is-2">
          Padrino Book
        </h1>
        <p>
        Go into web development with fun and joy plus the freedom of choice which components you want to use for your next web application, then take a deeper look into <a href="http://www.padrinorb.com/">Padrino</a>. I'm currently writing a book about it.
        You can learn more about it under <a href="https://padrinobook.com">padrinobook.com</a>.
        </p>
        <br>
        <p class="has-text-centered">
        <a class="button is-medium is-info is-outlined" href="https://padrinobook.com/">
          Learn more
        </a>
        </p>
      </div>
    </div>
  </div>
</div>

