---
description: Writings, and talks by Matthias Günther. Günther works as a developer and agile coach at MyHammer, loves painting Warhammer figures, writing, giving talks, and enjoys making cakes.
---
<a href="https://www.softcover.io/books/fd219c19/padrinobook" title="PadrinoBook" class="center" target="_blank"><img id="padrino" src="https://farm8.staticflickr.com/7016/13441187154_58d220c784_o_d.png" alt="PadrinoBook"/></a>


I'm writing a book about the web framework [Padrino](http://www.padrinorb.com/). It is other than [Rails](http://rubyonrails.org/), more light weight, flexible, powerful, and fast. You can learn more about it under [padrinobook.com](https://padrinobook.com).

<%= partial "layouts/shared/newsletter" %>

<!--
<h2>Categories</h2>
<ul>
  <% all_categories.each do |category, articles| %>
    <li><%= link_to "#{category} (#{articles.size})", category_path(category) %></li>
  <% end %>
</ul>
-->
