---
title: wikimatze - writing about Ruby, Vim, Padrino, and Linux
nav: home
---
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-6">
          <a href="https://padrinobook.com/">
            <img src="https://farm8.staticflickr.com/7016/13441187154_8cfa735cb7_z_d.jpg" alt="Description">
          </a>
        </div>
        <div class="column is-6">
          <h1 class="title is-2">
            Padrino Book
          </h1>
          <p>
            I'm writing a book about the web framework <a href="http://www.padrinorb.com/">Padrino</a>. It is other than <a href="http://rubyonrails.org/">Rails</a>, more light weight, flexible, powerful, and fast. You can learn more about it under <a href="https://padrinobook.com">padrinobook.com</a>.
          </p>
          <br>
          <p class="has-text-centered">
          <a class="button is-medium is-info is-outlined" href="https://padrinobook.com/">
            Learn more
          </a>
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="container content">
  <%= partial "layouts/shared/newsletter" %>
</div>
