---
title: Newsletter
description: Sign up for new about new tools I love to explore, technologies, Vims, my progress about Padrino.
nav: home
---
<h1>Newsletter wikimatze</h1>
<p>
Sign up for new articles about new tools I love to explore, technologies, Vims, my progress about Padrino
</p>
<div class="default alert">
  <br>
  <form action="https://subscribe.minutemailer.com/1kdgXG5W" method="post">
      <div class="field">
        <div class="control has-icons-left">
          <input id="email" class="input" name="email" placeholder="Email" value="" type="email" required>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-large is-link" type="submit" value="Subscribe" name="subscribe">Send</button>
        </div>
      </div>
  </form>
</div>
<br>

<script>
document.querySelector("#email").addEventListener("invalid", function(){
  document.getElementById('email').setAttribute("class","input is-danger");
});

document.querySelector("#email").addEventListener('input', function () {
  if (document.querySelector("#email").validity.valid) {
    document.getElementById('email').setAttribute("class","input is-success");
  }
});
</script>
