---
title: Talks
description: Overview of all the talks given by wikimatze
nav: about
---

<ul class="talk-listing">
  <li>
    <a href="/talk/puppet-and-rspec-puppet">Puppet and RSpec puppet</a>
    <span>October, 2012</span>
  </li>
  <li>
    <a href="/talk/buffer-quickfix-windows-ack">Buffer, quickfix windows, :Ack - does this work together?</a>
    <span>September, 2012</span>
  </li>
  <li>
    <a href="/talk/first-vim-novice-workshop-of-vimberlin">First Vim Novice workshop of vimberlin</a>
    <span>August, 2012</span>
  </li>
  <li>
    <a href="/talk/notes-is-there-a-best-plugin">Notes - is there a best plugin?</a>
    <span>May, 2012</span>
  </li>
  <li>
    <a href="/talk/time-management-with-the-pomodoro-technique"> Time management with the Pomodoro Technique</a>
    <span>May, July 2012</span>
  </li>
  <li>
    <a href="/talk/lessons-learned-with-vimscript">Lessons learned with Vimscript</a>
    <span>March, 2012</span>
  </li>
</ul>
